
.moduletree {
  min-width: 175px;
  max-width: 175px;
  background: #404040;
  padding: 0px;
  padding-top: 1px;
  display: flex;
  flex-direction: column;
}

.moduletreeview {
  padding: 4px;
  flex: 1;
}

.moduleinfo {
  background: #303030;
  flex: 0;
  padding: 5px;
  min-height: 166px;
  margin: 10px;
}

.moduleinfo p {
  padding: 1px;
  margin: 1px;
}

.moduleseparator {
  margin: 2px;
  background: #666666;
  height: 1px;
}

.moduletree .kdiagramtoolbar {
  font-size: 12pt;
}